{% extends "base.html" %}

{% block title %}
    <title>TODO_LIST</title>
{% endblock %}
<br>
<a href="create/">Создать задачу</a><br><br>
<br>
{% block content %}
    <div class="row">
        {% for to_do in todos %}
            <div class="class=col-12 col-md-6 col-lg-3">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-body-secondary"><strong>Статус:</strong> {{ to_do.get_status_display }}</h5>
                    <p class="card-text"><strong>Описание:</strong><br>{{ to_do.description }}</p>
                    <p class="card-text"><strong>Дата:</strong><br>{{ to_do.date_completion }}</p>
                    <a href="{% url 'todo_detail' to_do.pk %}" class="card-link">Детальный просмотр</a><br>
                    <a href="{% url 'todo_update' to_do.pk %}" class="card-link">Редактировать</a>    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>