{% extends "base.html" %}

{% block title %}
    <title>TODO_LIST</title>
{% endblock %}
<br>
<a href="create/">Создать задачу</a><br><br>
<br>
{% block content %}
    <div class="row">
        {% for issues in issue %}
            <div class="class=col-12 col-md-6 col-lg-3">
                <div class="card mt-3 text-center bg-white rounded-4 h-100 d-flex flex-column align-items-center " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            <strong>Статус:</strong> {{ issues.statuses }}</h5>
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            <strong>Тип:</strong> {{ issues.types }}</h5>
                        <p class="card-text"><strong>Краткое описание</strong><br>{{ issues.summary }}</p>
                        <p class="card-text"><strong>Полное описание:</strong><br>{{ issues.description }}</p>
                        <a href="{% url 'update' issues.pk %}">
                            <i class="fa-2x fa-sharp fa-regular fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'detail' issues.pk %}">
                            <i class="fa-2x fa-solid fa-circle-info"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>