{% extends "projects/../base.html" %}
{% block links %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'webapp:create' project.pk %}">Создать
                задачу</a>
        </li>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="card mt-3 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-body-secondary">
                <strong>Название:</strong> {{ project.title }}
            </h5>
            <h6 class="card-text">
                <strong>Описание</strong><br>{{ project.description }}
            </h6>
            <p class="card-text"><strong>Дата начала:</strong><br>{{ project.start_date }}</p>
            <p class="card-text"><strong>Дата окончания:</strong><br>{{ project.end_date }}</p>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'accounts:users_check' project.pk %}">
                    Управление пользователями</a>
            {% endif %}
        </div>
    </div>
    {% if issues.exists %}
        {% for issue in issues %}
            <div class="card mt-4 text" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Задачи проекта: </h5>
                    <p class="card-text"><strong>Краткое описание:</strong><br>{{ issue.summary }}</p>
                    <p class="card-text"><strong>Полное описание:</strong><br>{{ issue.description }}</p>
                    <a href="{% url 'webapp:update' issue.pk %}">
                        <i class="fa-2x fa-sharp fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'webapp:detail' issue.pk %}">
                        <i class="fa-2x fa-solid fa-circle-info"></i>
                    </a>
                    <a href="{% url 'webapp:delete' issue.pk %}" class="fa-2x fa-solid fa-trash text-danger"></a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

