{% extends "projects/../base.html" %}

{% block title %}
    <title>TODO_LIST</title>
{% endblock %}
<br>
<a href="webapp:create_project/">Создать проект</a><br><br>
<br>
{% block content %}
    <br>
    <form method="get">
        {% include "partial/search_form.html" with form=search_form %}
    </form>
    <br>
    <div class="row">
        {% for project in projects %}
            <div class="class=col-12 col-md-6 col-lg-3 mt-3">
                <div class="card mt-3 text-center bg-white rounded-4 h-100 d-flex flex-column align-items-center "
                     style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            <strong>Название:</strong> {{ project.title }}
                        </h5>
                        <h6 class="card-text">
                            <strong>Описание:</strong><br>{{ project.description }}
                        </h6>
                        <p class="card-text"><strong>Дата начала:</strong><br>{{ project.start_date }}</p>
                        <p class="card-text"><strong>Дата окончания:</strong><br>{{ project.end_date }}</p>
                        <a href="{% url 'webapp:detail_project' project.pk %}">
                            <i class="fa-2x fa-solid fa-circle-info"></i>
                        </a>
                        <a href="{% url 'webapp:update_project' project.pk %}">
                            <i class="fa-2x fa-sharp fa-regular fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'webapp:delete_project' project.pk %}" class="fa-2x fa-solid fa-trash text-danger"></a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2>Проекты не найдены</h2>
        {% endfor %}
    </div>
{% endblock %}

{% block paginator %}
    
    <div class="paginator mt-4">
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>